.header-search{
    display: none;
}
.header-navigation__nav{
    display: none;
}
.header{
    align-items: center;
}
.header-search768{
    display: inline-block;
    display: block;
    border: 1px solid $lightGrey; 
    border-radius: 27px;
    min-width:auto;
    flex-grow: 1;
    padding: 1.3rem 4rem 1.3rem 1rem;
    margin-left: 10%;
    margin-right: 6px;
    position: relative;
        
    @include e(submit){
        background: url(#{$imagesPath}svg/search.svg) no-repeat;
        position: absolute;
        top: 31%;
        left: 85%;    
        width: 26px; 
        height: 23px; 
    }
    @include e(field){
        min-width: 87%;
        margin-left: 1.5rem;
          // покрасить plaseholder
    }
}
.navigation{
    display: block;
}
.navigation-list{
    margin: 0;
    padding: 0;
    list-style: none;
    @include e(item){
        display: inline-block;
        margin-right:66px ;
        color: black;
        text-decoration: none;
        @include m(fourth){
            margin-right: 0;
            text-decoration: underline;
            background: url(#{$imagesPath}svg/icon.svg) no-repeat;
            min-width: 26px; 
            min-height: 23px; 
        }
    }
}
.navigation-list__item_fourth::before{
    content:"";
    display: in;
    background: url(#{$imagesPath}svg/icon.svg) no-repeat;
    min-width: 26px; 
    min-height: 23px; 
}
.before::before{
    content:"";
    background-image: url(#{$imagesPath}svg/icon.svg) no-repeat;
    min-width: 26px; 
    min-height: 23px; 
}