.header-search{
    display: none;
}
.header-navigation__nav{
    display: none;
}
.header{
    align-items: center;
}
.header-search768{
    display: inline-block;
    display: block;
    border: 1px solid $lightGrey; 
    border-radius: 27px;
    min-width:auto;
    flex-grow: 1;
    padding: 1.3rem 4rem 1.3rem 1rem;
    margin-left: 10%;
    margin-right: 6px;
    position: relative;
        
    @include e(submit){
        background: url(#{$imagesPath}svg/search.svg) no-repeat;
        position: absolute;
        top: 31%;
        left: 85%;    
        width: 26px; 
        height: 23px; 
    }
    @include e(field){
        min-width: 87%;
        margin-left: 1.5rem;
          // покрасить plaseholder
    }
}
.navigation{
    display: block;
}
.navigation-list{
    margin: 0;
    padding: 20px;
    list-style: none;
    @include e(item){
        display: inline-block;
        margin-right:33px ;
        color: black;
        text-decoration: none;
        font-family:$ubuntuFontFamily;
        font-weight:$regularFontWeight;
        font-size: $baseFontSize;
        line-height: 18px;
        letter-spacing: -0.025em;
        color: $lightDark;
        @include m(fourth){
            text-decoration: underline;
            &::before{
                content: "";
                background: url(../../../i/svg/icon.svg) no-repeat;
                min-width: 20px;
                min-height: 14px;
                display:inline-block;
                vertical-align: -1px;
                
            }
        }

    }
}





