// header START
.navigation-list768{
  display: none;
}
.navigation-list992{
  display: none;
}
.container {
  max-width: 1200px;
  margin: auto;
  padding:0px $mobilePadding;
}
.header{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 10px 0px;
}
.header-logo{
  display: flex;
  @include e(svg){
    max-width:53.3px;
    max-height:54.62px;
  }
  @include e(slogan){
    margin-left: 16px;
    @include m(header){
      font-family:$nunitoFontFamily;
      font-weight:$extraBoldFontWeight;
      font-size: 36px;
      line-height: 35px;
      letter-spacing: -0.025em;
      margin: 0;
    }
    @include m(slogan){
      font-family: $quicksandFontFamily;
      font-weight:$regularFontWeight;
      font-size: 14px;
      letter-spacing: 0.01em;
      margin: 0;
    }
  } 
}
.header-search768{
  display: none;
}
.header-navigation{
  text-align: right;
  @include e(nav){
    max-width: 28px;
    max-height: 22px;
  }
  @include e(select){
    margin-top: 3px;
  }
  @include e(language){
    font-family:$quicksandFontFamily;
    font-weight:$regularFontWeight;
    font-size: $baseFontSize;
    line-height: 20px;
    letter-spacing: -0.025em;
    vertical-align: 5px;
    color:$lightDark;
  } 
  @include e(down){
    max-width: 16px;
    max-height: 18px;
  }
}
.header-search{
  margin: 20px 0;
  border: 1px solid $lightGrey; 
  border-radius: 27px;
  min-width: 100%;
  flex-grow: 1;
  padding: 1.3rem 4rem 1.3rem 1rem;
  position: relative;
  
  @include e(submit){
    background: url(#{$imagesPath}svg/search.svg) no-repeat;
    position: absolute;
    top: 31%;
    left: 85%;    
    width: 26px; 
    height: 23px; 
  }
  @include e(field){
    min-width: 87%;
    margin-left: 1.5rem;
    // покрасить plaseholder
  }
}
// HEADER END
// BANER START
.banner{
  min-width: 100px;
  background-color: $beige;
  text-align: center;

  @include e(header){
    display: block;
    font-family: $ubuntuFontFamily;
    font-weight: $boldFontWeight;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: -0.025em;
    color: $black;
    padding-bottom:34px ;
  }
  @include e(img){
    padding-top: 9px;
    width: 150px;
  }
}
// BANER END
// PAGE START
// columh-left
.page{
  padding:0px $mobilePadding;
}
.column-right{
  margin: 0;
  background-color: $darkWhite;
  padding: 10px 0px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  @include e(img){
    min-width: 102%;
  }
  @include e(contnent){
    padding:0 10px;

    @include m(header){
      @include font($ubuntuFontFamily , $mediumFontWeight);
      line-height: 28px;
      font-size: 24px;
      margin: 0;
      padding: 0;
      margin-top: 44px;
      margin-bottom:8px ;
    }
    @include m(nav){
      display: none;
    }
    @include m(paragraph){
      @include font($ubuntuFontFamily , $lightFontWeight);
      font-size: 16px;
      line-height:18px ;
      letter-spacing:-0.025em; 
      margin: 0;
      padding: 0;
      margin-bottom: 11px;
    }
    @include m(button){
      color: white;
      background-color: $orange;
      min-width: 150px;
      min-height:47px;
      border-radius: 25px 25px 25px 25px;
      padding: 0;
    }
  }
}
//column left end
//column-right start
.blog-box{
  margin-top:45px;
  max-width: 100%;
  @include e(header){
    margin: 0;
    margin-bottom: 30px;
  }
  @include e(list){
    list-style: none;
  
    @include m(item){
      color: $black;
      padding: 10px 0px 10px 0px;
      display: flex;
      justify-content: space-between;
      border-bottom: 1px solid #CCCCCC;
      font-family: $ubuntuFontFamily;
      font-weight:$regularFontWeight;
      font-size: $baseFontSize;
      line-height: 18px;
      letter-spacing: -0.025em;
      @include m(hover){
        color: #2B5AE1;
        padding: 10px 0px 10px 0px;
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid #CCCCCC;
        font-family: $ubuntuFontFamily;
        font-weight:$regularFontWeight;
        font-size: $baseFontSize;
        line-height: 18px;
        letter-spacing: -0.025em;
      }
    }
    @include m(link){
      flex: auto;
      padding-left: 12px;
      text-decoration: none;
      font-family: $ubuntuFontFamily;
      font-weight:$regularFontWeight;
      font-size:$baseFontSize;
      line-height: 18px;
      letter-spacing: -0.025em;
      color: $lightDark;

      @include m(hover){
        color: $orange;
        flex: auto;
        padding-left: 12px;
        text-decoration: none;
        font-family: $ubuntuFontFamily;
        font-weight:$regularFontWeight;
        font-size:$baseFontSize;
        line-height: 18px;
        letter-spacing: -0.025em;
      }
    }
  } 
} 
.articles{
  max-width: 100%;
}

.article-container{
  border-bottom: 1px solid #CCCCCC;
  @include e(content){
    margin-bottom: 28px;
    margin-top: 40px;
    display: flex;
  }
  @include e(graybox){
    min-width: 70px;
    min-height: 70px;
    max-width: 70px;
    max-height: 70px;
    background: #C4C4C4;
    border-radius: 7px;
    // display: inline-block;
  }
  @include e(box){
    // display: inline-block;
    margin-left: 10px;
  }
  @include e(paragraph){
    font-family: $ubuntuFontFamily;
    font-weight: $regularFontWeight;
    font-size: 18px;
    line-height: 24px;
    margin: 0;
    margin-bottom: 10px;
  }
  @include e(link){
    text-decoration: none;
    font-family: $ubuntuFontFamily;
    font-weight: $regularFontWeight;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: -0.025em;
    color: $orange;
  }

}





//column-right end
// selectors start
.selectors{
text-align: center;
margin-bottom: 50px;
  @include e(pages){
    display: inline-block;
    padding: 15px;
    border: 1px solid #EEEEEE;
    border-radius: 50%;
    min-height: 50px;
    min-width: 50px;
    text-decoration: none;
    color: $lightDark;
    &:first-child{
      background-color: $orange;
      color: $white;

    }
    &:hover{
      cursor:default;
    }
  }
}
 





